*

!.vscode/
!services/
!services/cac-lvm-cache/
!services/lvm-cache-primary/
!services/lvm-cache-vgubuntu/
!template/
!test/
!tool/

!.editorconfig
!.gitattributes
!.gitignore
!*.bash
!*.bat
!*.json
!*.md
!*.service
!*.sh
!*.xml
!*.yaml
!*.yml
